h1{
    text-align: center;
    color: #00F0F0;  
  }
  p{
    text-align: center;
    color: white;
    font-style: bold;
  }
  div{
    line-height: 4;
  }
  body{
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.3),
        rgba(136, 136, 206, 0.8)
      ), url(https://www.schroders.com/en/sysglobalassets/digital/insights/2021/04-april-2021/whos-making-money-from-covid-19-vaccines/vaccine-vials.jpg);
  }
  p1{
    color: white;
  }
  div{
    color: white;
  }